*.order
ioctl
*.symvers
*.mod.o
*.ko
*.mod.c
*.o
*.so
.tmp_versions/
*.cmd
build/
install
src/seqgen
modules/mysql/ioctl_set
modules/mysql/ioctl
src/log
src/database_state.cnf
src/sequences.backup
.idea/.name
.idea/modules.xml
.idea/sequence_generator.iml
.idea/workspace.xml
cmake-build-debug/
src/.idea/
src/cmake-build-debug/
.idea/misc.xml
.idea/vcs.xml

